<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>register </title>
</head>
<body>
<form action="/registerFaculty" method="post">
    <!-- <input type="text" placeholder="Role" name="role"> -->
    <input type="text" placeholder="Name" name="facultyName">
    <!-- <input type="email" placeholder="email" name="email"> -->
    <!-- <input type="text" placeholder="Department" name="department"> -->
    <input type="text" placeholder="Employ Id" name="employId">
    <input type="password" name="password">
    <input type="submit">
</form>
</body>
</html>