<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>register </title>
</head>
<body>
<form action="/registerStudent" method="post">
    <input type="text" placeholder="Role" name="role">
    <input type="text" placeholder="Name" name="studentName">
    <input type="email" placeholder="email" name="email">
    <input type="text" placeholder="Branch" name="branch">
    <input type="text" placeholder="Enrollment" name="enrollment">
    <input type="submit">
</form>
</body>
</html>